<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385948299049-aocop96u7o5i0c76hr68bqvq4g51j9r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385948299049-aocop96u7o5i0c76hr68bqvq4g51j9r8</string>
	<key>API_KEY</key>
	<string>AIzaSyCt5zhQhS_Z38vp_7HFcBpLO5TqShBvVfY</string>
	<key>GCM_SENDER_ID</key>
	<string>385948299049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appfirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-projedct</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-projedct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385948299049:ios:539123cbe7b07f350a9138</string>
</dict>
</plist>